*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#repair_car, #tire, #replacement {
    margin-top: -120px;
    padding-top: 120px;
}

.container .content__container{
    margin-top: 60px;
    margin-bottom: 20px;
}

.content__container{
    display: flex;
}

.img__container{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/repair.jpg);
    background-repeat: no-repeat;
    background-position: 15% 50%;
    flex: 0 0 32%;
    background-size: cover;
}

.tire_service .img__container{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/tire.jpg);  
}

.consumables .img__container{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/consumables.jpg);  
}

.container__text, .text__container2{
    font-family: 'Roboto',sans-serif;
    margin-left: 30px;
}

.text__container2{
    margin-left: 0px;
    margin-right: 30px;
}

h1, h2, h3, h4{
    font-size: 3.75rem;
    font-weight: 700;
    color: #ff6600;
    
}
h1, h3{
    font-size: 3.75rem;
    margin: -13px 0 0 21px;
}

h3{
    margin: -13px 21px 0 0;
}

p, .p1{
    color: #ffffff;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 20px 0 0 21px;
}

.p1{
    margin: 20px 21px 0 0;
}

h2, h4{
    font-size: 1.875rem;
    margin: 33px 21px 0;
}

h4{
    margin: 33px 21px 0 0;
}

.table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}
.table__container{
    margin: 20px 0 0 auto;
    width: 725px;
}

.table__container2{
    margin: 20px auto 0 0;
    width: 720px;
}

.table__content{
    font-size: 1.125rem;
    color: #ffffff;
    
}

.repair__name, .price{
    border-style: solid;
    border-color: #ff6600;
    padding: 10px;
    border-width: 1px;
}

footer p{
    font-size: 1rem;
}